{% extends '../base.html' %}

{% block content %}
<div class="container">
    <h1>Futzal Admin</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Lapangan</h2>
            <ul>
                <li><a href={% url 'lapangan_create' %}>Tambah Lapangan</a></li>
                <li><a href={% url 'lapangan_list' %}>Daftar Lapangan</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Staff</h2>
            <ul>
                <li><a href="#">Tambah Staff</a></li>
                <li><a href="#">Daftar Staff</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Admin</h2>
            <ul>
                <li><a href="#">Tambah Admin</a></li>
                <li><a href="{% url 'admin_list' %}">Daftar Admin</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>User</h2>
            <ul>
                <li><a href="#">Tambah User</a></li>
                <li><a href="#">Daftar User</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
    