{% extends '../base.html' %}

{% block content %}
  <div>
    <h1>Tentang Futzal</h1>
    <p>Futzal adalah sebuah aplikasi yang dibuat untuk memudahkan masyarakat dalam memesan lapangan futsal.</p>
    <p>Visi kami adalah menjadi aplikasi pemesanan lapangan futsal terbaik di Indonesia, dengan menyediakan layanan yang mudah, cepat, dan terpercaya.</p>
    <p>Misi kami adalah memberikan kemudahan kepada masyarakat dalam memesan lapangan futsal, serta meningkatkan kesadaran akan pentingnya olahraga dan gaya hidup sehat.</p>
    <h2>Tim Futzal</h2>
    <ul>
      <li>Killua - Founder & CEO</li>
      <li>Gon - Co-Founder & CTO</li>
      <li>Nanika - Marketing Manager</li>
    </ul>
    <h2>Hubungi Kami</h2>
    <p>Alamat: Jalan Futzal, No. 123, Jakarta</p>
    <p>Telepon: 021-12345678</p>
    {% comment %} <p>Email: [info@futzal.com](mailto:info@futzal.com)</p> {% endcomment %}
  </div>
{% endblock content %}